body{
	width: 906px;
	margin: 0 auto;
	font-family: arial;
	font-size: 20px;
}
div.header{
    text-align: center;
}
h1{
	margin-top: 0px;
    margin-bottom: 0px;
    line-height: 100px;
    color: #034d47;
}
p.tensp{
	text-align: center;
}
a{
	text-decoration: none;
}
img{
	max-width: 300px;
	border-bottom: 1px solid #fdb6a9;
	margin: auto;
}
a:link {
	color: #0a535d;
}
a:visited {
	font-weight: bold;
	color: #0a535d;
}
a:hover {
	font-weight: bold;
	color: #6644dc;
}
a:active {
	font-weight: bold;
	color: #f70420;
}
div {;
	background-color: #eeb1a2;
}
.sp {
	width: 300px;
	border: 1px solid #fdb6a9;
	float: left;
}
.sp2 {
	width: 300px;
	border: 1px solid #fdb6a9;
	float: right;
}
.sp3 {
	width: 300px;
	border: 1px solid #fdb6a9;
	margin: auto;
}

