@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.row.header{
    margin-top: 80px;
}
.parallax {
     min-height: 600px; 
     background-image: url('../img/hosting3.jpg'); 
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.intro{
    font-size: 20px;
        color: white;
}
.intro h1{
    font-size: 60px;
}
.intro p{
    font-weight: 300;
    padding-bottom: 10px;
}
.intro a{
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 1s;
    -moz-transition: all  1s;
    transition: all  1s;
}
.logo{
    max-width: 100px;
}
.intro .btn-see:hover{
    color: black;
    background-color: #428bf7;
        -webkit-transition: all 1s;
    -moz-transition: all  1s;
    transition: all  1s;
}
.btn-see{
    border: 1px solid white;
    padding: 15px;
    border-radius: 0 10px 0 0;
    color: white;
}
.signup-header{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    text-align: center;
}
.signup-header h2{
        padding-top: 20px;
}
.form-header{
    display: block;
    padding: 20px;
}
.form-header .form-group .form-control{
    border-radius: 0;
    border: solid 1px #dadada;
    background-color: #fff;
    color: #333;
    height: 55px;
}
.form-header input{
    position: relative;
    padding: 5px 15px;
}
.btn-sub{
    border-radius: 0;
    background-color: #428bf7;
    color: #333;
    height: 55px;
}
 .navbar-brand{
    padding-bottom: 3px;
    padding-top: 3px;
} 
.my-navbar{
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
}
.brg-menu{
    background: black;
}
.my-navbar a:hover{
    color: white;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}
.navbar-right li{
    padding-left: 10px;
    padding-left: 10px;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .navbar-nav>li:hover a{
    color: #428bf7;
}
div#bs-example-navbar-collapse-1 {
    border-top-color: #428bf7;
}
.navbar-default .navbar-toggle {
    border-color: #428bf7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #428bf7;
}
.navbar-default .navbar-nav .nav-active>a{
    color: #428bf7;
}

/*features  */
.about-section{
    margin-bottom: 200px !important;
}
.text-center{
    text-align: center;
}
.feature-top h2{
    text-align: center;
}
.style-line{
    color: #428bf7;
    border-top-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #428bf7;
    width: 300px;
}
.about-infor{
    text-align: center;
}
.rowf2{
    margin-top: 20px;
}
.flipper{
    font-size: 13px;
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
}
.flip-ico{
    background-color: #428bf7;
    width: 90px;
    height: 90px;
    border-radius: 60%;
    margin:0 auto;
    margin-bottom: 0;
    text-align: center;
    display: block;
    font-size: 45px;
    color: #ffffff;
    line-height: 1.8;
    position: absolute;
     top: -45px;
    left: 135px;
}
.front .box-info{
    background-color: #ffffff;
    border: 3px solid #428bf7;
    height: 200px;
    font-family: 'Open Sans', sans-serif;
}
.front{
    width: 100%;
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden; 
    -moz-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transform: rotateY(0deg);
}
.front .info-line{
    width: 55%;
    border-top: 2px solid #428bf7;
    margin: auto;
    margin-top: 60px;
}
.heading-content{
    font-weight: bold;
}
.front .info-line.bottom{
    margin-top: 25px;
}
.back .info-line{
    width: 55%;
    border-top: 2px solid #ffffff;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
}
.back .info-line.bottom{
    margin-top: 25px;
}
.back{
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden; 
    -moz-backface-visibility: hidden;
    width: 100%;
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.back .box-info{
    border: 3px solid #428bf7;
    height: 200px;
    font-family: 'Open Sans', sans-serif;
    background-color: #428bf7;
}
.back p{
    color: #ffffff;
}
.flipper:hover .back{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transform: rotateY(0deg);
}
.flipper:hover .front{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transform: rotateY(180deg);
}
.about-section{
    margin-bottom: 50px;
}



.heading-background{
    background-image: url('../img/sinewave.png');
    height: 100%;
    position: relative;
    text-align: center;
    color: #06286a;
}
.heading-background > .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    background-color: #428bf7;
}
.heading-background h2{
        padding: 5px 0 10px 0px;
}
.heading-background p{   
    margin: 0 0 20px;
}
.info-features{
    margin-bottom: 50px;
    margin-top: 50px;
}
.info-features i{
    font-size: 18px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #428bf7;
    color: #428bf7;
    float: left;
    text-align: center;
    margin-right: 10px;
    line-height: 1.6;
}
.caro{
    padding: 20px;
    color: #6E6E6E;
}
.caro h3{
    font-weight: 900;
}
.caro p{
    font-size: 15px;
}